<!DOCTYPE html>
<html>
  <head>
    <title>Catálogo</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="{% url 'home' %}">Catálogo</a>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'lista_clientes' %}">Clientes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'lista_productos' %}">Productos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'lista_compras' %}">Compras</a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              >Archivo</a
            >
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{% url 'nuevo_cliente' %}"
                >Nuevo Cliente</a
              >
              <a class="dropdown-item" href="{% url 'nuevo_producto' %}"
                >Nuevo Producto</a
              >
              <a class="dropdown-item" href="{% url 'crear_compra' %}"
                >Nueva Compra</a
              >
              <a class="dropdown-item" href="{% url 'crear_categoria' %}"
                >Nueva Categoría</a
              >
              <!-- Otros elementos del menú desplegable -->
            </div>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container">{% block content %}{% endblock %}</div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
